<div class="arlo_tm_section">
    <div class="arlo_tm_skills_wrap">
        <div class="container">
            <div class="inner_wrap">
                <div class="leftbox">
                    <div class="arlo_tm_mini_title_holder">
                        <h4>Some about my Abilities</h4>
                    </div>
                    <p>Con más de 3 años de experiencía  como desarrollador Web, 
                            he adquirido habilidades y conocimientos suficientes para  transformar tus ideas en proyectos reales.
                        <br>
                        <br>
                        Me apasiona poner a prueba mi creatividad, ingenio y concocimientos en el uso y aplicación de 
                        tecnología para buscar como resultado un proyecto realmente exitoso y a su vez supere las expectavivas de mis clientes.
                        </p>
                </div>
                <div class="rightbox">
                    <div class="progress_bar_wrap_total">
                        <div class="arlo_tm_progress_wrap" data-size="small" data-round="c" data-strip="off">


                            <div class="arlo_tm_progress" [attr.data-value]="hability.number" data-color="#000" *ngFor="let hability of habilities">
                                <span><span class="label">{{hability.name}} - <span class="experience">{{hability.experience}}</span></span><span class="number">{{hability.number}}%</span></span>
                                <div class="arlo_tm_bar_bg"><div class="arlo_tm_bar_wrap"><div class="arlo_tm_bar"></div></div></div>
                            </div>
                           
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>