<div class="arlo_tm_portfolio_single_wrap">
    <div class="container">

        <app-loading *ngIf="loading"></app-loading>
<div  class="animated fadeIn"  *ngIf="!loading">


        <div class="title_holder">
                <h3>{{project.title}}</h3>
            </div>
            <div class="details_wrap">
                <div class="leftbox">
                    <div class="name_holder">
                        <h3>Project Details</h3>
                    </div>
                    <div class="short_list">
                        <ul>
                            <li>
                                <span class="first">Category :</span>
                                <span class="second">{{project.category}}</span>
                            </li>
                            <li *ngIf="project.client">
                                <span class="first">Client :</span>
                                <span class="second">{{project.client}}</span>
                            </li>
                            <!-- <li>
                                <span class="first">Images by :</span>
                                <span class="second"></span>
                            </li> -->
                        </ul>
                    </div>
                </div>
                <div class="rightbox">
                    <p>{{project.description}}</p>
                </div>
            </div>
            <div class="images_list">
                <ul>
                    <li *ngFor="let photo of project.photos">
                        <img class="resaltar" [src]="photo" alt="" />
                    </li>
                </ul>
            </div>

            <div class="pagination_wrap">
                <div class="prev puntero">
                    <a  class="" (click)="prev()">Prev</a>
                </div>
                <div class="next puntero">
                    <a (click)="next()" >Next</a>
                </div>
            </div> 
</div>
            </div>

        </div>
      