<div class="arlo_tm_mobile_header_wrap">
    <div class="main_wrap">
        <div class="logo">
            <img style="margin-bottom: -20px;" src="assets/img/logo/mobile_logo.png" alt="" />
        </div>
        <div class="arlo_tm_trigger">
            <div class="hamburger hamburger--collapse-r">
                <div class="hamburger-box">
                    <div class="hamburger-inner"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="arlo_tm_mobile_menu_wrap">
           <div class="mob_menu">
            <ul class="anchor_nav">
                <li><a (click)="cerrarMenu()" href="#home">Inicio</a></li>
                <li><a (click)="cerrarMenu()" href="#about">Sobre mi</a></li>
                <li><a (click)="cerrarMenu()" href="#services">Servicios</a></li>
                <li><a (click)="cerrarMenu()" href="#portfolio">Portafolio</a></li>
              <!--   <li><a (click)="cerrarMenu()" href="#news">Blog</a></li> -->
                <li><a (click)="cerrarMenu()" href="#contact">Contactame</a></li>
            </ul>
        </div>
    </div>
</div>