<div class="arlo_tm_leftpart_wrap">
    <div class="leftpart_inner">
        <div class="logo_wrap">
            <a href="#"><img style="width: 50%" [src]="urlLogo" alt="" /></a>
        </div>
        <div class="menu_list_wrap">
            <ul class="anchor_nav">
                
                <li><a href="#home">Inicio</a></li>
                <li><a href="#about">Sobre mi</a></li>
                <li><a href="#services">Servicios</a></li>
                <li><a href="#portfolio">Portafolio</a></li>
                <li><a href="#news">Blog</a></li>
                <li><a href="#contact">Contactame</a></li>
            </ul>
        </div>
        <div class="leftpart_bottom">
            <div class="social_wrap">
                <ul *ngIf="socialMedia != null">
                    <li><a [href]="socialMedia.facebook"><i class="xcon-facebook"></i></a></li>
                    <li><a [href]="socialMedia.twitter"><i class="xcon-twitter"></i></a></li>
                    <li><a [href]="socialMedia.linkin"><i class="xcon-linkedin"></i></a></li>
                    <li><a [href]="socialMedia.intagram"><i class="xcon-instagram"></i></a></li>
                </ul>
            </div>
        </div>
        <a class="arlo_tm_resize" href="#"><i class="xcon-angle-left"></i></a>
    </div>
</div>