<div class="arlo_tm_about_wrapper_all">
    <div class="container">
        <div class="arlo_tm_title_holder">
            <h3>Sobre mi</h3>
            <span>Información principal</span>
        </div>
        <div class="arlo_tm_about_wrap">
            <div class="author_wrap">
                <div class="leftbox">
                    <div class="about_image_wrap parallax" data-relative-input="true">
                        <div class="image layer" data-depth="0.1">
                            <img src="assets/img/about/550x640.jpg" alt="" />
                            <div class="inner" [ngStyle]="{backgroundImage: 'url(assets/img/about/2.jpg)'}"></div>
                        </div>
                        <div class="border layer" data-depth="0.2">
                            <img src="assets/img/about/550x640.jpg" alt="" />
                            <div class="inner"></div>
                        </div>
                    </div>
                </div>
                <div class="rightbox">
                    <div class="arlo_tm_mini_title_holder">
                        <h4>Josué Mejía / <span class="arlo_tm_animation_text_word"></span></h4>
                    </div>
                    <div class="definition">
                        <p style=" text-align: justify;
                        text-justify: inter-word;">Hola! Mi nombre es  <strong>Josué Alexander Mejía López</strong>. 
                            Soy desarrollador de aplicaciones Web, me encantan las tecnologías innovadoras de desarrollo Web y la forma en que estas pueden 
                            seguir transformando nuestra realidad. Es interesante aprender cosas nuevas, constantemente soy entusiasta 
                            del autoaprendizaje de forma online <!-- como una forma bastante efectiva de compartir conocimientos -->.
                             Cualquier objetivo es posible, con voluntad y un poco de esfuerzo se pueden crear cosas geniales que impacten en nuestra realidad.
                        </p>
                        <br>
                    </div>
                    <div class="about_short_contact_wrap">
                        <ul>
                            <li>
                                <span><label>Nacimiento:</label> 15.11.1992</span>
                            </li>
                            <li>
                                <span><label>Edad:</label> 26</span>
                            </li>
                            <li>
                                <span><label>Ciudad:</label> San Salvador, El Salvador</span>
                            </li>
                            <li>
                                <span><label>Intereses:</label> Machine Learning, IA, Bussines</span>
                            </li>
                            <li>
                                <span><label>Estudios:</label> <a target="_blank" href="https://www.ues.edu.sv/">Universidad de El Salvador (UES)</a></span>
                            </li>
                            <li>
                                <span><label>Título:</label> Ingeniero de Sistemas Informáticos</span>
                            </li>	
                            <li>
                                <span><label>Website:</label> <a href="#">www.mywebsite.com</a></span>
                            </li>
                            <li>
                                <span><label>Correo:</label> <a href="mailto:example@gmail.com">josue.mejia&#64;gmail.com</a></span>
                            </li>
                            <li>
                                <span><label>Teléfono:</label> <a href="#">+503 7524 9389</a></span>
                            </li>
                            <li>
                                <span><label>Twitter:</label> <a href="https://twitter.com/Josue_1518" target="_blank">&#64;Josue_1518</a></span>
                            </li>
                        </ul>
                    </div>
                    <div class="buttons_wrap">
                        <ul>
                            <li>
                                <a href="index.html"><span>Descargar CV</span></a>
                            </li>
                            <li class="anchor">
                                <a href="#contact"><span>Enviar mensaje</span></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>