<div class="arlo_tm_wrapper_all">

	<div id="arlo_tm_popup_blog">
		<div class="container">
			<div class="inner_popup scrollable"></div>
		</div>
		<span class="close"><a href="#"></a></span>
	</div>

	<!-- PRELOADER -->
	<app-loader></app-loader>
	<!-- /PRELOADER -->

	<!-- MOBILE MENU -->
	<app-mobile-menu></app-mobile-menu>
	<!-- /MOBILE MENU -->
 
    <!-- CONTENT -->
	<div class="arlo_tm_content">

		<!-- LEFTPART -->
			<app-toggle-menu></app-toggle-menu>
		<!-- /LEFTPART -->

		<!-- RIGHTPART -->
			<app-home></app-home>
		<!-- /RIGHTPART -->

		<a class="arlo_tm_totop" href="#"></a>

	</div>
</div>