<div class="arlo_tm_wrapper_all">

	<div id="arlo_tm_popup_blog">
		<div class="container">
			<div class="inner_popup scrollable"></div>
		</div>
		<span class="close"><a href="#"></a></span>
	</div>

	<!-- PRELOADER -->
	<app-loader></app-loader>
	<!-- /PRELOADER -->

	<!-- MOBILE MENU -->
	<div class="arlo_tm_mobile_header_wrap">
		<div class="main_wrap">
			<div class="logo">
				<img src="assets/img/logo/mobile_logo.png" alt="" />
			</div>
			<div class="arlo_tm_trigger">
				<div class="hamburger hamburger--collapse-r">
					<div class="hamburger-box">
						<div class="hamburger-inner"></div>
					</div>
				</div>
			</div>
		</div>
		<div class="arlo_tm_mobile_menu_wrap">
   			<div class="mob_menu">
				<ul class="anchor_nav">
					<li><a href="#home">Inicio</a></li>
					<li><a href="#about">Sobre mi</a></li>
					<li><a href="#services">Servicios</a></li>
					<li><a href="#portfolio">Portafolio</a></li>
					<li><a href="#news">Blog</a></li>
					<li><a href="#contact">Contactame</a></li>
				</ul>
			</div>
		</div>
	</div>
	<!-- /MOBILE MENU -->

    <!-- CONTENT -->
	<div class="arlo_tm_content">

		<!-- LEFTPART -->
			<app-toggle-menu></app-toggle-menu>
		<!-- /LEFTPART -->

		<!-- RIGHTPART -->
			<app-home></app-home>
		<!-- /RIGHTPART -->

		<a class="arlo_tm_totop" href="#"></a>

	</div>
</div>