<div class="arlo_tm_services_wrap">
    <div class="container">
        <div class="arlo_tm_title_holder">
            <h3>Servicios</h3>
            <span>Conoce mis servicios y más</span>
        </div>
        <div class="list_wrap">
            <ul>
                <li *ngFor="let service of services">
                    <div class="inner">
                        <div class="icon">
                            <img class="svg" [src]="service.icon" alt="" />
                        </div>
                        <div class="title_service">
                            <h3>{{service.title}}</h3>
                        </div>
                        <div class="text">
                            <p>{{service.desc}}...</p>
                        </div>
                    </div>
                </li>
            </ul>
        </div>

        
    </div>
</div>