<div class="arlo_tm_hero_header_wrap">
    <div class="arlo_tm_universal_box_wrap particle jarallax" data-speed="0.1" [ngStyle]="{backgroundImage: 'url(assets/img/hero/2.jpg)'}">
        <div id="particles-js"></div>
        <div class="particle_overlay"></div>
        <div class="inner_content">
            <div class="image_wrap">
                <img src="assets/img/about/600x600.jpg" alt="" />
                <div class="main" [ngStyle]="{backgroundImage: 'url(assets/img/about/1.jpg)'}"></div>
            </div>
            <div class="name_holder">
                <h3>Josué <span>Mejía</span></h3>
            </div>
            <div class="text_typing">
                <p>I'm a <span class="arlo_tm_animation_text_word"></span></p>
            </div>
        </div>
        <div class="arlo_tm_arrow_wrap bounce anchor">
            <a href="#about"><i class="xcon-angle-double-down"></i></a>
        </div>
    </div>
</div>